{% extends "base.html" %}

{% block title %}Liste des Enregistrements{% endblock %}


{% block content %}
    <h2>Enregistrement n° {{ enregistrement.id }}</h2>
    <p>Nom du fichier : {{ enregistrement.nom }}</p>

    <video controls width="640">
        <source src="{{ url_for('static', filename='enregistrements/' + enregistrement.nom) }}" type="video/mp4">
        Votre navigateur ne supporte pas la lecture de vidéos.
    </video>

    <br><br>
    <a href="{{ url_for('index') }}">⬅ Retour à la liste</a>
{% endblock %}
</body>
</html>
