{% extends "base.html" %}

{% block title %}Liste des Enregistrements{% endblock %}

{% block content %}
    <h2>Historique</h2>
   
    {% if fall_recordings %}
        <ul>
            {% for recording in fall_recordings %}
                <li class="record-container">
                    <a href="{{ url_for('download_video', directory='falls', filename=recording.name) }}">    
                        📹 Enregistrement {{ recording.id }} - {{ recording.name }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        <p>Aucun enregistrement pour le moment.</p>
    {% endif %}

{% endblock %}
