{% extends "base.html" %}

{% block title %}Liste des Enregistrements{% endblock %}

{% block content %}
    <h2>Historique</h2>
    <div class="record-container">
        <h3>Enregistrement n° </h3>
    </div>
    <ul>
        {% for enregistrement in enregistrements %}
        <div class="record-container">
            <li>
                <a href="{{ url_for('recordings/falls', filename='fall_30-01-2025_10h28m00s.avi') }}">
                    📹 Enregistrement {{ enregistrement.id }} - {{ enregistrement.nom }}
                </a>
            </li>
        </div>
        {% endfor %}
    </ul>
{% endblock %}
